<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">   
    <title>Exame</title>
</head>
<body>
    <div class="container">
      <div class="page-header">       
      </div>
      <form action="/executar_exame" method="post">      
        <center>
          <fieldset style="width:300px">
            <legend>Stimulated:</legend>
            <input type="radio" id="Left" name="stimulated" value="L"><label for="Left">Left</label>
            <input type="radio" id="Right" name="stimulated" value="R"><label for="Right">Right</label>
            <input type="radio" id="Left_Right" name="stimulated" value="LR"><label for="Left_Right">Left|Right</label>
          </fieldset>          
          <fieldset style="width:300px">
            <legend>Eye record:</legend>
            <input type="radio" id="Left" name="record" value="L"><label for="Left">Left</label>
            <input type="radio" id="Right" name="record" value="R"><label for="Right">Right</label>
            <input type="radio" id="Left_Right" name="record" value="LR"><label for="Left_Right">Left|Right</label>
          </fieldset>
          <br>
          <br>
          <br>
          <br>     
          <a href="/preview"><input type="button" value="Preview"/></a>      
          <a href="/executar_exame"><input type="submit" value="Start"/></a>
          <a href="/"><input type="button" value="Return"/></a>
        </center>                    
      </form>
    </div>
</body>
</html>