<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">   
    <title>Exam</title>
</head>
<body>
    <div class="container">
      <div class="page-header">       
      </div>          
        <center>
          <img src="loading5.gif" alt="this slowpoke moves"  width=250/> 
          <br> 
          <b>Running exam</b>
        </center>    
    </div>
</body>
</html>
<style>
  body {
      background-color: #EBEBEB;
      color: #1A1A1A;
  }
  </style>