<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">   
    <title>Pi Video Surveillance</title>
</head>
<body>
    <h1>Pi Video Surveillance</h1>
    <fieldset style="width:300px">
        <legend>Left:</legend>
        <img width="300px" src="{{ url_for('video_feed') }}">
    </fieldset>
    <fieldset style="width:250px">
        <legend>Rigth:</legend>
        <img width="300px" src="{{ url_for('video_feed') }}">
    </fieldset>
</body>
</html>